* {
    overflow-y: auto;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.image-container {
    float: left;
    margin: auto;
    height: 172px;
}
.image-person {
    float: left;
    margin: 3px;
    height: 200px;
}
.background {
    background: white;
    background-blend-mode: darken;
    background-size: cover;
}
 
.nav-list {
    display: flex;
    align-items: center;
}
 
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 180px;
    border-radius: 50px;
}
 
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}
 
.nav-list li a {
    margin: 0;
    text-decoration: none;
    color: #000;
}
 
.nav-list li a:hover {
    color: #00509d;
    font-weight: bold;
}
 
.box-main {
    display: flex;
    justify-content: center;
    align-items: top;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 95%;
}
 
.firsthalf {
    height: 100%;
    display: flex;
    justify-content: center;
}

.text-big {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.person-header {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.blah-blah {
    overflow: unset;
}

.text-small {
    font-size: 15px;
}

.section {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #d6d6d6;
    justify-content: space-between;
}
 
.center {
    text-align: center;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 50px;
    }

.text-footer {
    background-color: #2274a5;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
}