* {
    overflow: scroll;
    padding: 0;
    margin: 0;
}
 
.layout-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.layout-nav-list {
    display: flex;
    align-items: center;
}
 
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 180px;
    border-radius: 50px;
}
 
.layout-nav-list li {
    list-style: none;
    padding: 26px 30px;
}
 
.layout-nav-list li a {
    margin: 0;
    text-decoration: none;
    color: #000;
}
 
.layout-nav-list li a:hover {
    color: #00509d;
    font-weight: bold;
}
.image-container {
    float: left;
    width: 300;
    height: 168px;
}
.image-person {
    float: left;
    margin: 3px;
    height: 200px;
}
.layout-background {
    background: white;
    background-blend-mode: darken;
    background-size: cover;
}
 
.layout-box-main {
    justify-content: left;
    align-items: left;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 95%;
}
 
.layout-first-half {
    height: 100%;
    justify-content: left;
}

.layout-text-big {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.person-header {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.blah-blah {
    overflow: unset;
}

.layout-text-small {
    font-size: 15px;
}

.layout-section {
    height: 100vh;
    align-items: left;
    background-color: #d6d6d6;
    justify-content: left;
}
.newsletter-h2 {
    font-size: 18px;
    font-weight: bold;
}
.newsletter-input {
    width: 200px;
    height: 25px;
}
.newsletter-section {
    padding-top: 100px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 200px;
}
.newsletter-box {
    background-color: white;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
}
.layout-center {
    text-align: center;
}

.layout-footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    }

.layout-text-footer {
    background-color: #2274a5;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
}