* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
 
.background {
    background: white;
    background-blend-mode: darken;
    background-size: cover;
}
 
.nav-list {
    width: flex;
    display: flex;
    align-items: center;
}
 
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 180px;
    border-radius: 50px;
}
 
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}
 
.nav-list li a {
    text-decoration: none;
    color: #000;
}
 
.nav-list li a:hover {
    color: #00509d;
    font-weight: bold;
}
 
.box-main {
    display: flex;
    justify-content: center;
    align-items: top;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}
 
.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.secondhalf {
    width: 30%;
}
 
.secondhalf img {
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
 
.text-big {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
 
.text-small {
    font-size: 18px;
}
 
.btn {
    margin-left: 20px;
    height: 33px;
    width: 70px;
    border-radius: 10px;
        color: black;
    background-color: #d6d6d6;
        cursor: pointer;
}
 
.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}
 
.section {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #d6d6d6;
    justify-content: space-between;
}
 
.section-Left {
    flex-direction: row-reverse;
}
 
.center {
    text-align: center;
}
 
.footer {
    display: fixed;
    text-align: center;
    justify-content: center;
}

.text-footer {
    background-color: #2274a5;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
}