* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.first-header {
    background: rgb(123, 34, 34);
}
.header-add {
    padding: 5px;
    font-size: 20px;
    color: white;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    height: 100%;
    width: 20%;
    position: fixed;
    top: flex;
    left: 0;
    background: #c0c0c0;
}