body {
    background-color: #86a5ccd7;
}
.App {
    text-align: center;
  }

.App-header {
    background-color: #223f63;
    min-height: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
  }

  input {
    width: 150px;
    border: 1px solid black;
    margin: 2px;
  }

  select {
    width: 150px;
    border: 1px solid black;
    margin: 2px;
  }

  textarea {
    width: 250px;
    height: 150px;
    border: 1px solid black;
    margin: 2px;
  }

  ul {
    list-style: none;
  }

  button {
    display: center;
    width: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
  }

  .my-table {
    border-collapse: collapse;
    width: 30%;
    margin: 0 auto;
  }
  
  .my-table th, .my-table td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
  }
  
  .my-table th {
    background-color: grey;
    color: black;
  }

  .reg-table {
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto;
  }
  
  .reg-table th, .reg-table td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
  }
  
  .reg-table th {
    background-color: grey;
    color: black;
  }